<!DOCTYPE html>
<html>
    <head>
        <title>Decoded Audio</title>
    </head>

    <audio controls>
        <source src = "{{ audio_file }}" type="audio/mp3">
        Your browser dose not support the audio element
    </audio>


    <a href="{{ audio_file }}" downlaod>
        <button>Download Audio</button>
    </a>
    <br>

    <a href="/">
            <button>Back</button>
    </a>

    <div id = "Audio metrics">
        <h3>Audio metrics</h3><br>
        <p id = "audio_metric_display" onclick = "window.location.href='/metrics'">Audio Metrics</p>
    </div>

    <script src="{{ url_for('static', filename='decoded_script.js') }}"></script>
</html>